@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: #100f0f;
      --foreground: #d8d8d8;
}

body {
      color: var(--foreground);
      background: var(--background);
      font-family: "Share Tech Mono", Helvetica, sans-serif;
      height: 100vh;
}

* {
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      /* outline: 2px solid hsl(calc(360 * var(--rand)), 70%, 50%); */
}

.scrollable::-webkit-scrollbar {
      display: none;
}

@keyframes damage-anim {
      0% {
            background-color: rgb(162, 46, 46, 1);
      }
      100% {
            background-color: rgb(162, 46, 46, 1);
            opacity: 0%;
      }
}

.show-damage-anim::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      animation: damage-anim 2s ease-out forwards;
}

@keyframes log-item-anim {
      0% {
            transform: translateX(-99%);
      }
      100% {
            transform: translateX(0%)
      }
}

.log-item {
      animation: log-item-anim 0.2s ease-out forwards;
}