@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: #100f0f;
      --foreground: #171717;
}

body {
      color: var(--foreground);
      background: var(--background);
      font-family: "Share Tech Mono", Helvetica, sans-serif;
}

* {
      transition: all 0.05s cubic-bezier(0.075, 0.82, 0.165, 1);
}
